.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.mq-editable-field .mq-math-mode {
  border: none !important;
}

.App .mq-editable-field {
  border: none !important;
  font-size: 24px;
}
.App .mq-math-mode {
  border: none !important;
}

.mq-editable-field.mq-focused {
  border: none !important;
  box-shadow: none !important;
}